table {
border-collapse: collapse;
	tbody {
	text-align: center;
		tr {
			&:nth-child(odd) {
			background: #ececec;
			}
			td:nth-child(2) {
				width:25%;
			}
		}
	}
}

.name {
	width:5%;
}
.desk {
	width: 25%;
}
.link, .author {
	width: 35%;
}

#octocat {
	max-width: 355px;
}

.owner {
margin: 0;
text-align: center;
align-items: center;
	img {
	    border-radius: 50%;
	} 
}