<h1>
  {{ title }}
</h1>
<form>
	<md-form-field>
		<input type="search" mdInput placeholder="Your request" #keyword>
	</md-form-field>
	<button type="submit" md-raised-button color="primary" (click)="search(keyword.value)">Search repositories</button>
</form>

<img *ngIf="!results" id="octocat" src="octocat.gif" alt="">

<section *ngIf="results">
	<table>
		<colgroup>
			<col class="name">
			<col class="desc">
			<col class="link">
			<col class="author">
		</colgroup>
		<thead *ngIf="results.length">
			<tr>
				<th>Name</th>
				<th>Description</th>
				<th>Repository URL</th>
				<th>Author</th>
			</tr>
		</thead>
		<tbody>
			<tr *ngFor="let result of results | paginate: { itemsPerPage: 5, currentPage: p }">
				<td>{{ result.name }}</td>
				<td [innerHtml]="result.description ? result.description : '<em>No description :(</em>'"></td>
				<td>
					<a href="{{ result.html_url }}" target="_blank">
						<md-icon>link</md-icon>
					</a>
				</td>
				<td>
					<md-card>
						<md-card-title-group class="owner">
							<md-card-title>
								<a href="{{ result.owner.html_url }}" target="_blank">
									{{ result.owner.login }}
								</a>
							</md-card-title>
							<img md-card-sm-image src="md-progress-spinner.gif" gg-lazy-load="{{ result.owner.avatar_url }}" alt="avatar">
						</md-card-title-group>
					</md-card>
				</td>
			</tr>
		</tbody>
	</table>
	<pagination-controls [hidden]="results.length < 5" (pageChange)="p = $event"></pagination-controls>
	
	<p [hidden]="!error">{{ error }}</p>
	<md-progress-bar mode="indeterminate" [style.display]="(results.length || error) ? 'none' : 'block'"></md-progress-bar>

</section>